h1 {
    
    background-color: lightsalmon;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 300px;
    height: auto;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
}

.recipe {
    font-size: 40px;
}